/* Organizing and conver 1rem to 10px */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* SplashScreen */
.splash-screen-container {
    height: 100vh;
}

.splash-screen {
    height: 100vh;
}

.ss-body-container {
    height: 100vh;
}

.ss-logo-container {
    display: flex;
    justify-content: center;
    align-items: end;
    height: 50vh;
}

.ss-logo {
    width: 15%;
}

.ss-p-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.ss-p {
    font-size: 3rem;
    font-weight: bold;
}

.ss-loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    height: 3vh;
}

.ss-loading-gray {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    height: 2.5vh;
    width: 12vw;
}

.ss-loading-white {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: white;
    height: 2vh;
    width: 11.5vw;
}

.ss-loading-blue {
    margin-left: 0.2rem;
    background-color: blue;
    height: 1.8vh;
    width: 0%;
    animation: chargeBar 4s forwards;
}
@keyframes chargeBar {
    from { width: 0%;}
    to {width: 100%;}
}

/* First View */
.welcome-container {
    height: 100vh;
}

.welcome {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.w-login-container {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

.w-login {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vh;

}

.w-register-container {
    width: 100vw;
    height: 100vh;
    background-color: aliceblue;
}

.w-register {
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vh;
}

.login {
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
}

.register {
    font-size: 4rem;
    font-weight: bold;
    cursor: pointer;
}

.w-center-floating-container {
    width: 100vw;
    position: absolute;
}

.w-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 40vh;
}

.w-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
}

.w-logo-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.w-logo {
    width: 30%;
}

/* Forms */
.login-register-design-container {
    height: 100vh;
    width: 100vw;
}

.login-design {
    height: 100vh;
    width: 100vw;
    display: flex;
  
}

.ld-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25.5rem;
    width: 50vw;
    background-color: purple;
}

.ld-title {
    font-size: 12rem;
    font-weight: bold;
}

.ld-p-container {
    margin-top: 4rem;
}

.ld-p {
    font-size: 4rem;
}

.ld-form-container {
    height: 100vh;
    width: 50vw;
    display: flex;
}

.ld-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
}

.ld-subtitle-container {
    margin-top: 30rem;
    margin-bottom: 10rem;
}

.ld-subtitle {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
}

.inputs-form  {
    margin: 4rem 0;
}

.inputs-form > input {
    font-size: 4rem;
    padding: 1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    text-align: center;
    cursor: pointer;
}

.sumbit-button-container {
    margin-top: 10rem;
}

.sumbit-button-container > button {
    font-size: 4rem;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.suggered-questions-container {
    width: 50vw;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
}

.suggered-questions > a {
    font-size: 3rem;
    text-decoration: none;
    cursor: pointer;
}

.register-design {
    height: 100vh;
    width: 100vw;
    display: flex;    
}

.rd-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 25.5rem;
    width: 50vw;
    height: 100vh;
    background-color: purple;
}

.rd-title {
    font-size: 12rem;
    font-weight: bold;
}

.rd-p-container {
    margin-top: 4rem;
}

.rd-p {
    font-size: 4rem;
}

.rd-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.rd-form {
    text-align: center;
}

.rd-subtitle-container {
    margin-top: 30rem;
    margin-bottom: 10rem;
}

.rd-subtitle {
    font-size: 8rem;
    font-weight: bold;
    text-align: center;
}

.rd-steps {
    display: flex;
    font-size: 3rem;
    justify-content: end;
}

.inputs-form-file {
    display: flex;
    margin-top: 10rem;
}

.inputs-form-file > input {
    font-size: 2.5rem;
    margin-right: 5rem;
}

.rd-file-text {
    font-size: 3rem;
}

.rd-button-checkbox-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.rd-checkbox {
    width: 4rem;
    height: 4rem;
    margin-right: 5rem;
}

.rd-checkbox-text {
    font-size: 3rem;
}

.rd-button-register {
    margin-top: 5rem;
}

.rd-button-register-container > button {
    font-size: 4rem;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    margin-bottom: 5rem;
}

.rd-form-displace {
    display: flex;
    justify-content: center;
}

.rd-form-displace > div {
    width: 50px;
    height: auto;
    margin: 2rem;
}

.rd-form-displace > div > img {
    max-width: 100%;
    padding: 0.5rem;
}

#firstArrow {
    rotate: 180deg;
    cursor: pointer;
}

#secondArrow {
    cursor: pointer;
}











/* Toggle functions */
.inactive {
    display: none;
}

.invisible {
    visibility: hidden;
}